{% extends 'base.html.twig' %}

{% block title %}Conference GuestBook{% endblock %}

{% block body %}
<div class="min-h-screen bg-gray-100">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <h1 class="text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">
                Conference
            </h1>
            <p class="mt-5 max-w-xl mx-auto text-xl text-gray-500">
                Give your feedback!
            </p>
        </div>
        
        <div class="mt-12 grid gap-8 md:grid-cols-2 lg:grid-cols-2">
            {% if conferences|length > 0 %}
                {% for conference in conferences %}
                    <div class="bg-white overflow-hidden shadow rounded-lg transition-all hover:shadow-lg">
                        <div class="px-4 py-5 sm:p-6">
                            <h3 class="text-2xl font-bold text-gray-900 mb-2 text-center">
                                {{ conference.city }} {{ conference.year }} {{conference.isInternational ? '(International)' : ''}}
                            </h3>
                            <div class="flex justify-center items-center mt-4">  
                                <a href="{{ path('conference', { id: conference.id }) }}" 
                                   class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    View Details
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center text-gray-500">Aucune conférence disponible pour le moment.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}